

.padding_margin_kill() {
  padding: 0;
  margin: 0;
}

.list_style_kill() {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link_style_kill() {
  text-decoration: none;
  display: block;
}

.clearfix() {
  &:before, &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.after_before() {
  content: '';
  display: block;
}

.conteiner() {
  margin-left: auto;
  margin-right: auto;
  padding-left: @mobile_offset;
  padding-right: @mobile_offset;
  max-width: 830px;
  min-width: @conteiner_min;
}

.text_hider() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.zero_centered() {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
}

.vertical_centered() {
  position: absolute;
  top: 0;
  bottom: 0px;
  margin: auto;
}
.gorizontal_centered() {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}


