.companion {
  position: relative;
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
  }

  &__left {
    float: left;
  }

  &__right {
    padding-left: 64px;
  }

  &__delete {
    display: none;
  }

  &__input-block {
    margin-bottom: 18px;
  }

  &__number {
    display: block;
    font-size: 14px;
    color: @c_red;
    line-height: @lh_fussed;
    text-transform: uppercase;
    padding-left: 26px;
    margin-bottom: 5px;
  }

  &__figure {
    .padding_margin_kill;
    .form_field;
    display: block;
    background: @c_background;
    position: relative;
    text-align: center;
  }

  &__text {
    display: block;
    color: @c_red;
    font-size: 14px;
    line-height: @lh_fussed;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 5px;

    &--required {

      &:after {
      color: @c_red;
      content: "  *";
      }
    }
  }





  @media (min-width: 660px) {

    &__right {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
    }

    &__delete {
      display: inline-block;
      float: right;
      text-decoration: none;
      color: @c_dark;
      line-height: @lh_fussed;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 17px;
    }

    &__input-block {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin-left: 4%;
      margin-bottom: 18px;
      font-size: 0;
    }

    &__input-text {
      width: 72%;
      border-left: 2px solid @c_border;
    }
  }
}
