.companion {
  .text_hide;
  padding-top: 30px;

  &__left {
    display: inline-block;
    position: relative;
    bottom: 114px;
    font-family: 'Open Sans', sans-serif;
    color: @c_dark;
  }

  &__right {
    display: inline-block;
    width: 77%;
    font-family: 'Open Sans', sans-serif;
    color: @c_dark;
  }

  &__number {
    display: block;
    font-size: 14px;
    color: @c_red;
    line-height: @lh_fussed;
    text-transform: uppercase;
    padding-left: 27px;
  }

  &__figure {
    .padding_margin_kill;
    .form_fild;
    display: block;
    color: @c_red;
    border-right: none;
    background: @c_background;
    position: relative;
  }

  &__text {
    display: block;
    color: @c_red;
    font-size: 14px;
    line-height: @lh_fussed;
    text-transform: uppercase;
    padding-left: 27px;
  }
}
