.contact {
  .padding_margin_kill;
  text-align: center;
  margin-bottom: 23px;

  &__title {
    .padding_margin_kill;
    font-size: @fz_big;
    line-height: 1.4;
    font-weight: @fw_bold;
  }
  &__text {
    .padding_margin_kill;
    line-height: 1.25;
    color: @c_red;
  }
  &__link {
    .link_style_kill;
    color: @c_red;

    &:hover {
      color: @c_dark;
      text-decoration: underline;
    }

    &:active {
      color:fade(@c_dark, 30%);
      text-decoration: none;
    }
  }
}
