.file {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-bottom: 2px solid @c_border;

  &__input {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  &__custom {
    .form_field;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    font-weight: bold;
    text-align: center;

    &:after {
      content: "Загрузить фото";
      text-transform: uppercase;
    }
  }
}
