.form {
  margin-bottom: 53px;

  &__fieldset {
    .padding_margin_kill;
    padding-top: 35px;
    padding-bottom: 25px;
    border: 0;

    &--non-standart {
      padding-top: 49px;
    }

    &--pb-not {
      padding-bottom: 0;
    }

    &:nth-child(2n) {
      background: @c_background;
    }
  }

  &__text {
    display: block;
    color: @c_red;
    line-height: @lh_fussed;
    text-transform: uppercase;
    padding-left: 23px;
    margin-bottom: 3px;

    &--required {

      &:after {
      color: @c_red;
      content: "  *";
      }
    }

    &--top {
      text-align: center;
      margin-top: -10px;
      margin-bottom: 15px;
      padding-left: 0;
    }
  }


  &__required {

    &:after {
      color: @c_red;
      content: "  *";
    }
  }


  &__legend {
    .padding_margin_kill;
    margin-bottom: 40px;
    color: @c_red;
    font-size: 14px;
    line-height: 18/14;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;

    &--required {

      &:after {
      color: @c_red;
      content: "  *";
      }
    }
  }

  &__input-text {

    &--bl-none {
      border-left: none;
    }

    &--dark {
      background: @c_background;
    }
  }

  &__submit {
    .form_field;
    color: @c_white;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 50px;
    width: 280px;
    background: #2aab6d;
    font-weight: bold;
    border: none;
    text-align: center;
    text-transform: uppercase;

  }

  &__text-muted {
    text-align: center;
    text-transform: uppercase;
    line-height: @lh_fussed;
  }
}



