.intro {
  background-color: #2a3847;
  background: url('../img/bg-intro.jpg') no-repeat center top;
  padding-top: 90px;
  padding-bottom: 25px;
  text-align: center;

  &--index {
    position: relative;
    padding-bottom: 330px;


    &:after {
      .after_before;
      .gorizontal_centered;
      background: url('../img/handle_with_phone.png') no-repeat;
      width: 320px;
      height: 286px;
      bottom: 0px;
    }

  }

  &__title {
  .padding_margin_kill;
  color: @c_white;
  font-size: @fz_title;
  line-height: normal;
  font-weight: @fw_light;
  }
}
