.logo {
  .link_style_kill;
  .text_hide;
  float: left;
  width: 74px;
  height: 23px;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &--alt {
    width: 145px;
    float: none;
    margin: 0 auto;
    margin-bottom: 39px;
  }




  @media (min-width: 660px) {
    width: 146px;

    &--alt {
      margin: 0;
      height: 23px;

      &:after {
        top: -16px;
        left: 0;
      }
    }
  }
}
