.logo {
  .link_style_kill;
  .text_hide;
  float: left;
  width: 74px;
  height: 23px;
  position: relative;

  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &--alt {
    height: 40px;
    width: 145px;
    float: none;
    margin: 0 auto;
    margin-bottom: 40px;

    &:after {
      .after_before;
      position: absolute;
      top: 0;
      left: 0;
      width: 59px;
      height: 40px;
      background: url('../img/logo-add.png') no-repeat left center;
    }
  }




  @media (min-width: 660px) {
    width: 146px;

    &--alt {
      margin: 0;
      height: 23px;

      &:after {
        top: -16px;
        left: 0;
      }
    }
  }
}
