.main-nav {
  display: none;
  min-width: 320px;
  max-width: 960px;

  &__list {
    .list_style_kill;
  }

  &__item {
    background-color: @c_dark;
    text-align: center;
    border-top: 1px solid #495562;
    border-bottom: 1px solid #030303;
  }

  &__link {
    .link_style_kill;
    color: @c_white;
    text-transform: uppercase;
    line-height: 66px;
    padding: 0 20px;

    &:hover {
      color: @c_red;
    }

    &:active {
      color: fade(@c_red, 30%);
    }
  }

  &--show {
    display: block;
  }




  @media @desktop {
    display: block;
    overflow: hidden;


    &__list {
      display: flex;
      margin-right: -25px;
    }

    &__item {
      background-color: transparent;
      border-top: none;
      border-bottom: none;
    }

    &__link {
      text-transform: none;
      padding: 0px 34px;
      font-size: 18px;

      &:hover {
        color: #fff;
        border-bottom: 2px solid #fff;
      }

      &:active {
        color: #fff;
        opacity: .3;
        border-bottom: none;
      }
    }
  }
}
