.page-footer {
  .padding_margin_kill;
  text-align: center;
  position: relative;

  &--index {
    font-size: @fz_title;
    font-weight: @fw_light;
    font-style: normal;
    padding-top: 25px;
    padding-bottom: 0;
  }

  &__social {
    margin-bottom: 40px;
  }

  &__developer {
    display: inline-block;
    vertical-align: middle;
    padding-right: 40px;
    position: relative;
  }

  &__developer-link {
    .link_style_kill;
    .text_hide;
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: middle;
  }






  @media (min-width: 660px) {

    &--index {
      padding-top: 44px;
      padding-bottom: 0;
    }

    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 39px 0;
    }

    &__social {
      margin-bottom: 0;
    }

    &__developer {
      font-size: 14px;
      padding-right: 45px;
    }
  }
}
