.page-footer {
  .padding_margin_kill;
  text-align: center;
  padding-bottom: 20px;
  position: relative;

  &--index {
    font-size: @fz_title;
    font-weight: @fw_light;
    font-style: normal;
  }

  &__social {
    margin-bottom: 40px;
  }

  &__developer {
    display: inline-block;
    vertical-align: middle;
    padding-right: 40px;
    position: relative;
  }

  &__developer-link {
    .link_style_kill;
    .text_hide;
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: middle;
  }
}
