
.photo-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
  margin-bottom: 20px;
  width: 68px;
  font-size: @fz_small;



  &__photo {
    width: 68px;
    height: 68px;
    display: block;

  }

  &__cross {
    position: absolute;
    top: -17px;
    right: -17px;
    width: 34px;
    height: 34px;
    border: 2px solid @c_border;
    border-radius: 50%;
    background: #fff;
    color: #c1c1c1;
    font-size: 16px;
  }
}


