.post-preview {
  margin-bottom: 24px;


  &__header {
    font-size: 12px;
    text-transform: uppercase;
    color: @c_red;
    margin-bottom: 15px;
  }

  &__title {
    .padding_margin_kill;
    padding-bottom: 5px;
    text-transform: none;
  }

  &__title-link {
    .link_style_kill;
    font-size: 18px;
    line-height: @lh_big;
    font-weight: @fw_bold;
    color: @c_dark;
  }

  &__date {

  }

  &__text {
    .padding_margin_kill;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;

    &--bb-none {
      border-bottom: none;
    }
  }
}
