.post {

  &__header {
    text-align: center;
    text-transform: uppercase;
    color: @c_red;
    font-size: 12px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 30px;
    line-height: 36/30;
    font-weight: @fw_bold;
    color: @c_dark;
    text-transform: none;
  }

  &__date {}

  &__text {
    .padding_margin_kill;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    line-height: 27/16;
    text-align: center;
  }
}

