.profit {
  .padding_margin_kill;
  padding: 100px 0;
  margin-left: auto;
  text-align: left;
  width: 50%;

  &__title {
    .padding_margin_kill;
    color: #000;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 34/30;
    font-weight: @fw_bold;
    padding-right: 100px
  }

  &__text {
    .padding_margin_kill;
    line-height: @lh_text;
    margin-bottom: 8px;
  }

  &__link {
    color: @c_red;

    &:hover {
      color: @c_dark;
      text-decoration: none;
    }

    &:active {
      color:fade(@c_dark, 30%);
      text-decoration: none;
    }
  }

  &__timer {
    position: absolute;
    left: 18px;
    top: 36px;
    fill: #dedede;
    width: 263px;
  }

  &__timer-wrap {

    &:after {
      content: '24';
      padding-right: 40px;
      padding-left: 36px;
      font-size: 104.6px;
      line-height: 185px;
      font-weight: 700;
      height: 214px;
      border: 11px solid #d22856;
      border-radius: 50%;
      position: absolute;
      left: 42px;
      top: 122px;
      color: #d22856;
    }
  }



  @media @desktop {
    width: 61%;
    padding: 117px 0;
    font-size: 18px;

    &__title {
      margin-bottom: 23px;
    }

    &__text {
      margin-bottom: 28px;
    }

    &__timer {
      width: 300px;
      left: 11px;
      top: 25px;
    }

    &__timer-wrap {

      &:after {
        padding-right: 47px;
        padding-left: 39px;
        font-size: 120px;
        line-height: 210px;
        height: 243px;
        left: 39px;
        top: 99px;
      }
    }
  }
}

