.radio {
  font-size: @fz_big;
  position: relative;
  padding-left: 60px;
  cursor: pointer;

  &__wrap {
    margin-bottom: 42px;

    &:last-child {
      margin-bottom: 18px;
    }

    @media @tablet {
      margin-top: 14px;
      margin-bottom: 41px;
    }
  }

  input {
    .input_hider;
    width: 0;

    &:checked ~ .radio__indicator:after {
      content: '';
      display: block;
      background: @c_red;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &:hover ~ .radio__indicator {
      border-color: @c_dark;
    }

    &:active ~ .radio__indicator {
      border-color: @c_red;
    }
  }

  &__indicator {
    position: absolute;
    left:0;
    bottom: -8px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 2px solid @c_border;
    border-radius: 50%;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      border-color: @c_dark;
    }

    &:active {
      border-color: @c_red;
    }
  }
}


