.review {
  .padding_margin_kill;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 43px;
  padding-bottom: 86px;
  text-align: center;

  &__title {
    font-size: @fz_big;
    font-weight: @fw_bold;
    line-height: @lh_big-fussed;
    color: #000;
    font-style: normal;
    margin-bottom: 13px;
    display: block;
  }

  &__text {
  .padding_margin_kill;
  line-height: @lh_fussed;
  }

  &__person {
    font-size: 14px;
    line-height: @lh_fussed;
    color: @c_dark;
    font-weight: @fw_normal;

    &--hidden-xs {
      display: none;
    }
  }






  @media (min-width: 660px) {
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 56px;

    &__title {
      font-size: 20px;
      line-height: 30/20;
    }

    &__person {

      &--hidden-xs {
        display: block;
      }
    }

    &__text {
      font-size: @fz_big;
      line-height: @lh_big-fussed;
      margin-bottom: 36px;
    }
  }
}
