.review {
  .padding_margin_kill;
  text-align: center;

  &__title {
    font-size: @fz_big;
    font-weight: @fw_bold;
    line-height: @lh_big-fussed;
    color: #000;
    font-style: normal;
    margin-bottom: 13px;
    display: block;
  }

  &__text {
  .padding_margin_kill;
  line-height: @lh_fussed;
  }
}
